DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=replace-this-for-local-development
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=Asia/Karachi
DB_ENGINE=django.db.backends.postgresql
DB_NAME=nexora
DB_USER=nexora
DB_PASSWORD=nexora
DB_HOST=localhost
DB_PORT=5432
DB_CONN_MAX_AGE=60
